/* Réglages généraux */
:root {
  --Primary-Color: ;
  --Primary-Color-Alt: ;
  --Secondary-Color: #6b1108;
  --Dark-Color: #2d2c2c;
  --Light-Color: #f3e6e8;
  --Gradient-Color: linear-gradient(275deg, var(--Primary-Color) 0%, var(--Primary-Color-Alt) 74%);
  font-size: 10px;
}

body {
  font-family: sans-serif;
  background-color: white;
  color: var(--Dark-Color);
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit
}

html,
body,
p,
ul,
ol,
li,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

html {
  box-sizing: border-box;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none
}

button,
input {
  margin: 0
}

p,
li,
span,
input,
label {
  font-size: 1.7rem;
}

p {
  padding: 2rem 0;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  padding: 5rem 0 2rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

li {
  display: inline;
}

main {
  padding-bottom: 5rem;
}
.mainWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  /* width: 100vw; */
  height: 100vh;
  background: url("./site/layer-170971.jpg");
  background-clip: border-box;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

// Imports
@import 'elements/header';
@import 'elements/connexion';
@import 'elements/feed';
@import 'elements/responsive';