.mainWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  /* width: 100vw; */
  height: 100vh;
  background: url("./site/layer-170971.jpg");
  background-clip: border-box;
  /* background-repeat: no-repeat; */
  background-size: cover;
}
.leftPart, .rightPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 35rem;
  color: var(--Light-Color);
}

.leftPart {
  justify-content: space-around;
  img {
    width: 15rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);;
    border-radius: 50%;
  }
}

@media screen and (min-width: 1024px){
  .rightPart {
    width: 120rem;
  }
}
.rightPart {
  justify-content: center;
  header {
    background-color: rgba(35, 49, 73, 0.972);
    background-image: linear-gradient(315deg, #4f6791 0%, rgba(35, 49, 73, 0.972) 74%);
    width: 90%;
    max-width: 70rem;
    padding: 2rem;
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }
  }
  #displayForm {
    width: 90%;
    max-width: 70rem;
    .form {
      background-color: #f3e6e8;
      border: var(--Dark-Color) 1px solid;
      width: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      input {
        margin: 1rem 0;
        &::placeholder {
          text-align: center;
        }
      }
      label {
        color: var(--Dark-Color);
      }
    }
  }
}



